<header class="shadow-sm fixed ">

    <h5 class="mx-2">
        <label for="nav-toggle">
            <span class="las la-bars"></span>
        </label> <span class="dashboard-title">RevolutionPlus</span>
    </h5>

    <div class="hide-in-mobile">
        <div class="user-wrapper d-flex justify-content-between align-items-center">

            <img src="/img/uploads/<%= user.profilePic %>" alt="" width="40" height="40" class="rounded-circle mx-2">

            <div>
                <h6 class="text-capitalize"><%= user.username %></h6>
            </div>

            <input type="checkbox" id="profile-toggle">
            <label for="profile-toggle" class="profile-toggle-carat">
                <span class="las la-caret-down mx-2"></span>
            </label>

            <ul class="profileNav d-none shadow">

                <li>
                    <a href="/api/v2/users/<%= user.id %>" class="dropdown-item">
                        <span class="las la-users"></span>
                        <span>My Profile</span>
                    </a>
                </li>

                <li>
                    <a href="/api/v2/users/edit/<%= user.id %>" class="dropdown-item">
                        <span class="las la-edit"></span>
                        <span>Edit Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/api/v2/users/edit-password/<%= user.id %>" class="dropdown-item">
                        <span class="las la-pencil-alt"></span>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="/api/v2/secure/logout" class="dropdown-item">
                        <span class="las la-sign-out-alt"></span>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="show-in-mobile">
        <div class="user-wrapper">
            <input type="checkbox" id="profile-toggle2">
            <label for="profile-toggle2" class="profile-toggle-carat">
                <i class="las la-user-circle la-2x"></i>
            </label>

            <ul class="profileNav  d-none-mobile shadow">

                <li>
                    <a href="/api/v2/users/<%= user.id %>" class="dropdown-item">
                        <span class="las la-users"></span>
                        <span>My Profile</span>
                    </a>
                </li>

                <li>
                    <a href="/api/v2/users/edit/<%= user.id %>" class="dropdown-item">
                        <span class="las la-edit"></span>
                        <span>Edit Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/api/v2/users/edit-password/<%= user.id %>" class="dropdown-item">
                        <span class="las la-pencil-alt"></span>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="/api/v2/secure/logout" class="dropdown-item">
                        <span class="las la-sign-out-alt"></span>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>




</header>