<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {

            $("#propper").select2()
        })
    </script>

    <title>Document</title>
</head>

<body>

    <%- include('../partials/_sidebar') %>
        <div class="main-content">

            <%- include('../partials/_main_content_header') %>

                <main>
                    <div class="conatiner">
                        <div class="col bg-light shadow-sm breadcrumb-height my-2">
                            <p class="text-muted text-left ms-3 py-3 align-items-center d-flex flex-wrap">
                                <a href="/api/v2/index/dashboard">Dashboard</a>>>
                                <a href="/api/v2/customers/customers">Customers</a>>>
                                <a href="/api/v2/customers/<%= customer.id %>">
                                    <%= customer.name %>
                                </a>
                            </p>
                        </div>
                    </div>

                    <form action="/api/v2/assign/cust/<%= customer.id %>/assign/?_method=PUT" method="post" method="POST" class="col-sm-10 mx-auto">

                        <div class="container rounded-3 shadow mx-auto bg-white my-3 p-3">
                            <%- include('../partials/flash_messages') %>

                                <p class="text-center lead my-4 text-revplus">Assigning a Property to:

                                    <label for="properties">
                                        <%= customer.name %>
                                    </label>
                                    <input type="checkbox" name="name" value="<%= customer.name %>" checked
                                        class="d-none">
                                </p>

                                <div class="row">
                                    <div class="col-lg-3 text-center">
                                       
                                        <img id="profileImage" src="/img/default Image.png" alt="photo" width="120"
                                            height="120" class="rounded-circle bg-secondary profileImage">

                                        <input id="imageUploadBtn" type="file" name="image"
                                            accept="image/jpeg, image/png, image/jpg, image/svg+xml"
                                            class="imageUploadBtn d-none" disabled>

                                        <p>Image upload disabled</p>

                                    </div>

                                    <div class="col-lg-9">


                                        <div class="row">

                                            <div class="col-sm-6 col-lg-4">
                                                <p><label for="customer">Choose Property *</label></p>
                                                <select id="propper" name="id" class="form-select">

                                                    <option value="" selected disabled> Choose</option>
                                                    <% properties.forEach(prop=>{ %>
                                                        <option value="<%= prop.id %>" class="text-capitalize">
                                                            <%= prop.name %>(<% if(prop.typeOfpro=="Plots of Land" ){%>
                                                                <span class="fs-6">Land</span>
                                                                <%}else{ %>
                                                                    <span class="fs-6">House</span>
                                                                    <% } %>)
                                                        </option>

                                                        <% }) %>

                                                </select>
                                            </div>



                                            <div class="col-md-6 col-lg-4">
                                                <p><label for="o_branch">Opening branch</label></p>
                                                <p><input type="text" id="o_branch" name="o_branch"
                                                        value="<%= typeof o_branch != 'undefined' ? o_branch : '' %>"
                                                        class="form-control">
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-lg-4">

                                                <p><label for="date">Date of Purchase</label></p>
                                                <p>
                                                    <input type="text" placeholder="dd/mm/yy" name="p_date"
                                                        value="<%= typeof p_date != 'undefined' ? p_date : '' %>"
                                                        class="form-control">
                                                </p>

                                            </div>
                                           
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 col-lg-4 py-2">
                                            <p><label for="p_purchase">Purpose of Purchase</label></p>
                                            <select name="p_purchase" class="form-select">
                                                <option disabled selected>Choose Option</option>
                                                <option value="Residential">Residential</option>
                                                <option value="Commercial">Commercial</option>
                                            </select>
                                            </div>

                                            <div class="col-md-6 col-lg-4 py-2">
                                              <p><label for="file_num">File Number</label></p>
                                                <p>
                                                    <input type="text" placeholder="" name="file_num" value="<%= typeof file_num != 'undefined' ? file_num : '' %>"
                                                        class="form-control">
                                                </p>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-lg-4">
                                                <p><label for="n_plots"> Quantity Purchased * </label></p>
                                                <p>
                                                    <input type="number" placeholder="" name="n_plots" step="0.01"  id="n_plotsT"
                                                        value="<%= typeof n_plots != 'undefined' ? n_plots : '' %>"
                                                        required class="form-control">
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-4">
                                                <p><label for="n_plots"> Description </label></p>
                                                <p>
                                                    <input type="text" placeholder="Eg. Units of 3 bedroom" name="detail" id="detail"
                                                        value="<%= typeof detail != 'undefined' ? detail : '' %>" required class="form-control">
                                                </p>
                                            </div>

                                            <div class="col-sm-6 col-lg-4 duplT flatT">
                                                <p><label for="p_p_plot">Price per Unit </label></p>
                                                <p><input type="number" placeholder="" name="p_p_plot" id="plotpT"
                                                        value="<%= typeof p_p_plot != 'undefined' ? p_p_plot : '' %>"
                                                        class="form-control">
                                                </p>
                                            </div>
                                           

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p><label for="a_p_f_plots">Amount Paid</label></p>
                                                <p>
                                                    <input type="number" placeholder="" name="a_p_f_plots" id="amtpdT"
                                                        value="<%= typeof a_p_f_plots != 'undefined' ? a_p_f_plots : '' %>" class="form-control">
                                                </p>
                                            </div>

                                            <div class="col-sm-6">
                                                <p><label for="payOptions">Payment Options</label></p>
                                                <p>
                                                    <select name="payOptions" class="form-select">
                                                        <option disabled selected>Choose Option</option>
                                                        <option value="Outright Payment">Outright Payment</option>
                                                        <option value="3 Months Plan ">3 Months Plan </option>
                                                        <option value="5 Months Plan">5 Months Plan</option>
                                                        <option value="6 Months Plan">6 Months Plan</option>
                                                        <option value="12 Months Plan">12 Months Plan</option>
                                                        <option value="18 Months Plan">18 Months Plan</option>
                                                        <option value="24 Months Plan">24 Months Plan</option>
                                                        <option value="30 Months Plan">30 Months Plan</option>
                                                    </select>
                                                </p>
                                            
                                            </div>
                                        </div>
                                        
                                        <div class="col text-end">
                                            <h6 class="text-success"> <span class="ms-5" id="totalT"></span></h6>
                                            <h6 class="text-danger"><span class="ms-5" id="balanceT"></span></h6>
                                        </div>

                                    </div>
                                   

                                </div>

                        </div>

                        <!-- cornerpiece -->
                        <div class="container rounded-3 shadow mx-auto bg-white my-3 p-5">
                            <h5 class="text-center">Cornerpiece</h5>
                        
                            <div class="row">
                        
                                <div class="col-lg-4">
                                    <p><label for="n_c_piece">How many cornerpiece ? * </label></p>
                                    <p>
                                        <input type="number" placeholder="" name="n_c_piece" step="0.01" id="n_c_piece"
                                            value="<%= typeof n_c_piece != 'undefined' ? n_c_piece : '' %>" class="form-control">
                                    </p>
                                </div>
                        
                        
                                <div class="col-lg-4">
                                    <p><label for="c_piece_price">
                                            cornerpiece Price
                                        </label></p>
                                    <p>
                                        <input type="number" placeholder="" name="c_piece_price" id="plotp"
                                            value="<%= typeof c_piece_price != 'undefined' ? c_piece_price : '' %>" class="form-control">
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <p><label for="c_piece_paid">Amount Paid for cornerpiece </label></p>
                                    <p>
                                        <input type="number" placeholder="" name="c_piece_paid" id="amtpd"
                                            value="<%= typeof c_piece_paid != 'undefined' ? c_piece_paid : '' %>" class="form-control">
                                    </p>
                                </div>
                        
                            </div>
                        </div>
                        
                        <!-- cornerpiece -->

                        <!-- statutory starts -->
                        <div class="container rounded-3 shadow mx-auto bg-white my-3 p-3">

                            <p class="text-center text-uppercase lead py-2"> statutory Fees </p>

                            <div class="row">


                                <div class="col table-responsive">

                                    <!-- borderless table starts -->


                                    <table class="table table-borderless equalCells">
                                        <thead>
                                            <tr>

                                                <th>statutory Name</th>
                                                <th>Cost</th>
                                                <th>Amount Paid</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- single Roll starts -->
                                            <tr>


                                                <td>
                                                    <p>
                                                        Registration Fee
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="reg_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof reg_fee != 'undefined' ? reg_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="text" placeholder="" name="reg_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof reg_paid != 'undefined' ? reg_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->
                                            <tr>


                                                <td>
                                                    <p>
                                                        Survey Fee
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="surv_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof surv_fee != 'undefined' ? surv_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="surv_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof surv_paid != 'undefined' ? surv_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->
                                            <tr>


                                                <td>
                                                    <p>
                                                        Legal Fee
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>

                                                        <input type="number" placeholder="" name="legal_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof legal_fee != 'undefined' ? legal_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="legal_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof legal_paid != 'undefined' ? legal_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->
                                            <tr>

                                                <td>
                                                    <p>
                                                        Development Fee
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="dev_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof dev_fee != 'undefined' ? dev_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="dev_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof dev_paid != 'undefined' ? dev_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->
                                            <tr>

                                                <td>
                                                    <p>
                                                        Electrification Fee
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="elec_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof elec_fee != 'undefined' ? elec_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="elec_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof elec_paid != 'undefined' ? elec_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>

                                        </tbody>
                                    </table>

                                    <!-- borderless table stops -->

                                </div>

                            </div>






                        </div>

                        <!-- statutory stops -->


                        <!-- statutory starts -->
                        <div class="container rounded-3 shadow mx-auto bg-white my-3 p-3">

                            <div class="row">


                                <div class="col table-responsive">

                                    <!-- borderless table starts -->


                                    <table class="table table-borderless equalCells">
                                        <thead>
                                            <tr>

                                                <th>statutory Name</th>
                                                <th>Cost</th>
                                                <th>Amount Paid</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <p>
                                                        Ratification Fee
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="rat_fee"
                                                            class="fee form-control w-100"
                                                            value="<%= typeof rat_fee != 'undefined' ? rat_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="rat_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof rat_paid != 'undefined' ? rat_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->
                                            <tr>

                                                <td>
                                                    <p>
                                                        Service Charge
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="service_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof service_fee != 'undefined' ? service_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="service_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof service_paid != 'undefined' ? service_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->
                                            <tr>

                                                <td>
                                                    <p>
                                                        Deed of Assignment
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="deed_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof deed_fee != 'undefined' ? deed_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="deed_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof deed_paid != 'undefined' ? deed_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->
                                            <tr>

                                                <td>
                                                    <p>
                                                        Defaultee Fee
                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="defau_fee"
                                                            class="fee form-control"
                                                            value="<%= typeof defau_fee != 'undefined' ? defau_fee : '' %>">
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="number" placeholder="" name="defau_paid"
                                                            class="paid form-control"
                                                            value="<%= typeof defau_paid != 'undefined' ? defau_paid : '' %>">
                                                    </p>
                                                </td>
                                               
                                            </tr>
                                            <!-- single row stops -->




                                        </tbody>
                                    </table>

                                    <!-- borderless table stops -->

                                </div>

                            </div>






                        </div>

                        <!-- statutory stops -->

                        <!-- Allocation Starts -->
                        <div class="container rounded-3 shadow mx-auto bg-white my-3 p-3">

                            <div class="row">


                                <div class="col table-responsive">

                                    <!-- borderless table starts -->


                                    <table class="table table-borderless equalCells">
                                        <thead>
                                            <tr>

                                                <th>Allocation</th>
                                                <th>Status</th>
                                                <th>Plot Number</th>
                                                <th>Block Number</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <p>

                                                    </p>
                                                </td>


                                                <td>
                                                    <p>
                                                        <select name="allocation" class="form-select">
                                                            <option disabled selected>Choose Option</option>
                                                            <option value="Allocated">Allocated</option>
                                                            <option value="Refunded">Refunded</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Out of Contract">Out of Contract</option>
                                                        </select>
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <input type="text" placeholder="" name="plotNum"
                                                            class="form-control"
                                                            value="<%= typeof plotNum != 'undefined' ? plotNum : '' %>">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>

                                                        <input type="text" placeholder="" name="blockNum"
                                                            class="form-control"
                                                            value="<%= typeof  blockNum != 'undefined' ?  blockNum : '' %>">

                                                    </p>
                                                </td>
                                            </tr>
                                            <!-- single row stops -->
                                            <!-- single Roll starts -->



                                        </tbody>
                                    </table>

                                    <!-- borderless table stops -->

                                </div>

                            </div>

                        </div>
                        <!-- Allocation Stops -->

                        <!-- cornerpiece -->
                        <div class="container rounded-3 shadow mx-auto bg-white my-3 p-5">
                            <h5 class="text-center">Comment</h5>
                        
                            <div class="row">
                        
                                <textarea name="comment" class="p-0 fs-5 assign" cols="5" rows="5" placeholder="eg. 20K paid for transfer to other estate">
                                    
                                </textarea>
                            </div>
                        </div>
                        
                        <!-- cornerpiece -->

                        <div class=" form-group modal-footer justify-content-center">
                            <a href="/api/v2/customers/customers" class="btn btn-warning">Cancel</a>
                            <button type="submit" class="btn-outline-secondary px-3 py-2 ">Submit</button>
                        </div>

                    </form>
                </main>



        </div>


</body>

</html>