<%- include('../partials/_header') %>
    <%- include('../partials/_sidebar') %>
        <div class="main-content">

            <%- include('../partials/_main_content_header') %>

                <main>
                   
                    <!-- customers table list -->
                   
                    <!-- start -->

                    <div class="container">
                        <div class="row">
                            <div class="mx-auto">
                            
                    <section class="table ">
                        <div class="row justify-content-between my-5">
                        
                            <div class="col-md-4">
                                <h2>All Customers</h2>
                            </div>
                        
                            <div class="col-md-4">
                                <div class="c-search-">
                                    <div class="search-wrapper text-center">
                                        <input type="text" id="search-box" class="search-box" placeholder="Search customer">
                                        <!-- <span class="las la-search"></span> -->
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-md-4 text-end my-2"><a href="/api/v2/customers/add_new_customer" class="btn btn-info px-5">+ Add
                                    New</a></div>
                        </div>
                        <div class="row py-3 mx-3 custable-heights">
                            <%- include('../partials/flash_messages') %>
                            <div class="col overflow-auto mb-3">

                                <table class="table bg-white shadow table-stri p-5 fs-5" id="customersTable2">
                                    <thead>
                                        
                                        <tr>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Email</th>
                                                <th>Branch</th>
                                                <th>Phone</th>
                                               <th>Action</th>
                                            </tr>
                                        </tr>
                                   
                                    </thead>
                                    <tbody id="dataTable">

                                        <% customers.forEach((customer, index)=>{ %>
                                            <tr>
                                                <td>
                                                    <%= (index + (perPage * (current - 1) )) + 1%>
                                                    
                                                </td>
                                                <td>
                                                    <a href="/api/v2/customers/<%= customer.id%>">
                                                        <%= customer.name.toUpperCase() %>
                                                    </a>
                                                </td>
                                                <td>
                                                    <%= customer.address ? customer.address : 'No Address'  %> 
                                                </td>
                                                <td>
                                                    <%= customer.email ? customer.email : 'No Email' %>
                                                </td>
                                                <td>
                                                    <%= customer.branch %>
                                                </td>
                                                <td>
                                                    <%= customer.phone ? customer.phone : 'No Phone' %>
                                                </td>
                                               
                                                <td class="d-flex justify-content-around">
                                                    <a href="/api/v2/customers/<%= customer.id %>"><i class="las la-eye la-2x-size" title="View"></i></a>
                                                    <a href="/api/v2/customers/edit/<%= customer.id %>"><i class="las la-edit mx-2 la-2x-size" title="Edit"></i></a>
                                        
                                                    <form action="/api/v2/customers/delete/<%= customer.id %>?_method=DELETE" method="POST">
                                        
                                                        <a class="deletConfirm"><i class="las la-trash la-2x-size" title="Delete"></i></a>
                                        
                                                        <input type="submit" value="delete" class="d-none " id="deleteInput">
                                        
                                                    </form>
                                        
                                        
                                                    <p> <a href="/api/v2/assign/cust/<%= customer.id %>">Assign </a></p>
                                        
                                                </td>
                                            </tr>
                                        
                                            <% }) %>
                                           
                                    </tbody>
                                </table>


                                 <div class="text-center fs-5 mb-5">
                                 <% if (pages> 0) { %>
                                    <ul class="pagination text-center">
                <% if (current== '') { %>
                    <li class="disabled page-item"><a class="page-link">First</a></li>
                    <% } else { %>
                        <li class="page-item"><a href="/api/v2/customers/customers/1" class="page-link">First</a></li>
                        <% } %>
                            <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                                <% if (i !==1) { %>
                                    <li class="disabled page-item"><a class="page-link">...</a></li>
                                    <% } %>
                                        <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
                                            <% if (i==current) { %>
                                                <li class="active page-item"><a class="page-link">
                                                        <%= i %>
                                                    </a></li>
                                                <% } else { %>
                                                    <li class="page-item"><a class="page-link" href="/api/v2/customers/customers/<%= i %>">
                                                            <%= i %>
                                                        </a></li>
                                                    <% } %>
                                                        <% if (i==Number(current) + 4 && i < pages) { %>
                                                            <li class="disabled page-item"><a class="page-link">...</a></li>
                                                            <% } %>
                                                                <% } %>
                                                                    <% if (current==pages) { %>
                                                                        <li class="disabled page-item"><a class="page-link">Last</a></li>
                                                                        <% } else { %>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="/api/v2/customers/customers/<%= pages %>">Last</a>
                                                                            </li>
                                                                            <% } %>
                                    </ul>
                                 <% } %>
                             </div>
                            </div>
                    
                    
                        </div>
                    
                    </section>
                        </div>
                        </div>
                        </div>

                    <!-- stop -->
                    
                </main>



        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="/js/app.js"></script>

        </body>

        </html>