<%- include('../partials/_header') %>
    <%- include('../partials/_sidebar') %>
        <div class="main-content">

            <%- include('../partials/_main_content_header') %>

                <main class="pb-5">

                    <div class="conatiner">
                        <div class="col bg-light shadow-sm breadcrumb-height my-2">
                            <p class="text-muted text-left ms-3 py-3 align-items-center d-flex flex-wrap">
                                <a href="/api/v2/index/dashboard">Dashboard</a>>>
                                <a href="/api/v2/customers/<%= propertyOwner.id %>">Customer</a>>>Purchase Details
                            </p>
                        </div>
                    </div>
                    <div class="container mx-auto py-3">
                        <%- include('../partials/flash_messages') %>
                    </div>

                    <!-- New  starts here -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 mx-auto bg-white shadow">

                                    <div class="container">
                                        <div class="row">
                                            <div class="col text-center fs-5">
                                                <img src="/img/uploads/<%= propertyOwner.profilePic %>" alt="" width="100" height="100"
                                                    class="rounded-circle bg-white mt-2">
                                                <p class="text-capitalize fs-5">
                                                    <%= propertyOwner.name %> <br>
                                                        <small>
                                                            <%= propertyOwner.address %>
                                                        </small> <br>
                                                        <% if(proDetail.p_p_plot == 1){ %>
                                                            <small class="">
                                                                 <span class="mx-5 bg-success text-white py-2 px-4 fs-5"> Free Plot </span>
                                                            </small>
                                                       <% }else{ %>
                                                        <small class="text-revplus">
                                                            Outstanding Balance: <span class="mx-5 text-danger bg-light px-2 fs-5"> &#x20A6; <%=
                                                                    numFomatter(proDetail.grandDebt) %> </span>
                                                        </small>
                                                        <% } %>
                                                        <small>
                                                            Payment Option: <span class="mx-5 bg-light ">
                                                                <%=proDetail.payOptions %>
                                                            </span>
                                                        </small>
                                                        <small class="">
                                                            Purpose: <span class="mx-3 bg-light ">
                                                                <%=proDetail.p_purchase %>
                                                            </span>
                                                        </small>
                                                        <small class="">
                                                            File Num: <span class="mx-3 bg-light ">
                                                                <%=proDetail.file_num %>
                                                            </span>
                                                        </small>
                                                </p>
                                                <div class="float-end">
                                                    <% if(user.role==="Admin" || user.role==="Staff" ){ %>

                                                        <div class="col">
                                                            <a href="/api/v2/assign/edit/<%=propertyOwner.id %>/<%= proDetail.propeId %>/<%= proDetail.uuid %>"
                                                                class="btn btn-info shadow-sm text-white">Update details <i class="las la-pencil-alt"></i> </a>
                                                        </div>

                                                       
                                                        <form action="/api/v2/assign/delete/<%=propertyOwner.id %>/<%= proDetail.propeId %>/<%= proDetail.uuid %>?_method=PUT" method="POST">
                                                        
                                                            <a class="deletConfirm"> <span class="btn btn-danger shadow-sm">Retrieve assigned</span> </i></a>
                                                        
                                                            <input type="submit" value="delete" class="d-none" id="deleteInput">
                                                        
                                                        </form>




                                                        
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="table-responsive">
                                            <table class="table fs-5">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Item</th>
                                                        <th>cost per Unit (&#x20A6;)</th>
                                                        <th>Quantity Purchased</th>
                                                        <th>Amount Due (&#x20A6;)</th>
                                                        <th>Amount Paid (&#x20A6;)</th>
                                                        <th>Balance (&#x20A6;)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                    
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <%= proDetail.name %>
                                                        </td>
                                                        <td>
                                                            <%= numFomatter(proDetail.p_p_plot) %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.n_plots %>,
                                                                <span class="mx-1">
                                                                    <%= proDetail.detail %>
                                                                </span>
                                    
                                                        </td>
                                                        <td>
                                                            <%= numFomatter(proDetail.landTotal) %>
                                                        </td>
                                                        <td>
                                                            <%= numFomatter(proDetail.a_p_f_plots) %>
                                                        </td>
                                                        <td>
                                                            <%= numFomatter(proDetail.landStatus) %>
                                                        </td>
                                                    </tr>
                                                     <% if(proDetail.cornerpieceTotal){ %>

                                                        <tr>
                                                            <td>(i)</td>
                                                            <td>
                                                                Cornerpiece
                                                            </td>
                                                            <td>
                                                                <%= proDetail.c_piece_price ? numFomatter(proDetail.c_piece_price) : "-" %>
                                                            </td>
                                                            <td>
                                                                <%= proDetail.n_c_piece %>
                                                            </td>
                                                            <td>
                                                                <%= numFomatter(proDetail.cornerpieceTotal) %>
                                                            </td>
                                                            <td>
                                                                <%= proDetail.c_piece_paid ? numFomatter(proDetail.c_piece_paid) : "-" %>
                                                            </td>
                                                            <td>
                                                                <%= numFomatter(proDetail.cornerpieceStatus) %>
                                                            </td>
                                                        </tr>

                                                    <% } %>
                                                
                                                    
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Registration Fee</td>
                                                        <td>
                                                            <%= proDetail.reg_fee ? proDetail.reg_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.reg_fee ? proDetail.reg_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.reg_paid ? proDetail.reg_paid.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.regisStatus ? proDetail.regisStatus.toLocaleString() : "-" %>
                                                        </td>
                                                    </tr>
                                                   
                                                    <% if(proDetail.surv_fee){ %>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Survey Fee</td>
                                                        <td>
                                                            <%=  proDetail.surv_fee ? numFomatter(proDetail.surv_fee) : "-" %>
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.surv_fee ? numFomatter(proDetail.surv_fee) : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.surv_paid ?  numFomatter(proDetail.surv_paid) : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.surveStatus ? numFomatter(proDetail.surveStatus) : "-" %>
                                                        </td>
                                    
                                                    </tr>
                                                    <% } %>
                                                    <% if(proDetail.legal_fee){ %>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Legal Fee</td>
                                                        <td>
                                                            <%= proDetail.legal_fee ?proDetail.legal_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.legal_fee ? proDetail.legal_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.legal_paid ? proDetail.legal_paid.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.legalStatus? proDetail.legalStatus.toLocaleString() : "-" %>
                                                        </td>
                                    
                                                    </tr>
                                                    <% } %>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Development Fee</td>
                                                        <td>
                                                            <%= proDetail.dev_fee ? proDetail.dev_fee.toLocaleString() : '-' %>
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.dev_fee ? proDetail.dev_fee.toLocaleString() :'-' %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.dev_paid ? proDetail.dev_paid.toLocaleString() : '-'   %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.develStatus ? proDetail.develStatus.toLocaleString() : "-" %>
                                                        </td>
                                    
                                                    </tr>
                                                    <% if(proDetail.elec_fee){ %>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Electrification Fee</td>
                                                        <td>
                                                            <%= proDetail.elec_fee ?proDetail.elec_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.elec_fee ? proDetail.elec_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.elec_paid ? proDetail.elec_paid.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.electStatus ? proDetail.electStatus.toLocaleString() : "-" %>
                                                        </td>
                                    
                                                    </tr>
                                                    <% } %>
                                                    <% if(proDetail.rat_fee){ %>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Ratification Fee</td>
                                                        <td>
                                                            <%= proDetail.rat_fee ? proDetail.rat_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.rat_fee ?proDetail.rat_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.rat_paid ?proDetail.rat_paid.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.ratifStatus ? proDetail.ratifStatus.toLocaleString() : "-" %>
                                                        </td>
                                    
                                                    </tr>
                                                    <% } %>
                                                    <% if(proDetail.defau_fee){ %>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>Defaultee Fee</td>
                                                        <td>
                                                            <%= proDetail.defau_fee ? proDetail.defau_fee.toLocaleString() : "-" %>.
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.defau_fee ? proDetail.defau_fee.toLocaleString() : "-" %>.
                                                        </td>
                                                        <td>
                                                            <%= proDetail.defau_paid ? proDetail.defau_paid.toLocaleString() : "-" %>.
                                                        </td>
                                                        <td>
                                                            <%= proDetail.defauStatus ? proDetail.defauStatus.toLocaleString() : "-" %>
                                                        </td>
                                    
                                                    </tr>
                                                    <% } %>
                                                      <% if( proDetail.service_fee){ %>

                                                        <tr>
                                                            <td>9</td>
                                                            <td>Service Charge</td>
                                                            <td>
                                                                <%= proDetail.service_fee ?proDetail.service_fee.toLocaleString() : "-" %>
                                                            </td>
                                                            <td>-</td>
                                                            <td>
                                                                <%= proDetail.service_fee ? proDetail.service_fee.toLocaleString() : "-" %>
                                                            </td>
                                                            <td>
                                                                <%= proDetail.service_paid ?proDetail.service_paid.toLocaleString() : "-" %>
                                                            </td>
                                                            <td>
                                                                <%= proDetail.serviceStatus.toLocaleString() %>
                                                            </td>
                                                        
                                                        </tr>

                                                    <%  } %>
                                                    <% if(proDetail.deed_fee){ %>
                                    
                                                    <tr>
                                                        <td>10</td>
                                                        <td>Deed of Assignment</td>
                                                        <td>
                                                            <%= proDetail.deed_fee ? proDetail.deed_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>-</td>
                                                        <td>
                                                            <%= proDetail.deed_fee ? proDetail.deed_fee.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.deed_paid ? proDetail.deed_paid.toLocaleString() : "-" %>
                                                        </td>
                                                        <td>
                                                            <%= proDetail.deedStatus ? proDetail.deedStatus.toLocaleString() : "-" %>
                                                        </td>
                                    
                                                    </tr>
                                    
                                                    <% } %>
                                    
                                    
                                                </tbody>
                                    
                                            </table>
                                            <div class="container">
                                                <div class="row fs-5 py-3">
                                                    <div class="col">Total Amount Due </div>
                                                    <div class="col text-end">&#x20A6; <%= numFomatter(proDetail.grandTopay) %>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row  fs-5  py-3">
                                                    <div class="col">Total Amount Paid</div>
                                                    <div class="col text-end">&#x20A6; <%=numFomatter(proDetail.grandPaid) %>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row  fs-5  py-3">
                                                    <div class="col">Total Balance</div>
                                                    <div class="col text-end">&#x20A6; <%= numFomatter(proDetail.grandDebt) %>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row  fs-5 py-3">
                                                    <div class="col">Payment Option </div>
                                                    <div class="col text-end ">
                                                        <%= proDetail.payOptions %>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row  fs-5 py-3">
                                                    <div class="col">Allocation Status</div>
                                                    <div class="col text-end">
                                                        <%= proDetail.allocation %>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row  fs-5 mb-4 py-3">
                                                    <div class="col">Plot Number/Block Num</div>
                                                    <div class="col text-end">
                                                        <%= proDetail.plotNum %> /<%= proDetail.blockNum %>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row  fs-5 mb-4">
                                                    <div class="col-sm-3">Comment</div>
                                                    <div class="col-sm-9 text-start text-italic">
                                                        <%- proDetail.comment %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                   

                  <!-- Endes here -->
                   
                   

                </main>


        </div>


        </body>

        </html>