<%- include('../partials/_header') %>
    <%- include('../partials/_sidebar') %>
        <div class="main-content">

            <%- include('../partials/_main_content_header') %>

                <main>
                    <div class="conatiner">
                        <div class="col bg-light shadow-sm breadcrumb-height my-2">
                            <p class="text-muted text-left py-3 mx-5 align-items-center">
                                 <a href="/api/v2/index/dashboard">Dashboard</a>>>
                                 <a href="/api/v2/stats/statistics">Statistics</a>
                            </p>
                        </div>
                    </div>

                <div class="container">
                    <div class="row py-3 align-items-center">
                        <div class="col bg-revplus text-center text-capitalize fs-4">
                            <div class="d-flex justify-content-between py-3">
                                <p>Top 8 Debtors</p> 
                                <p>
                               <a href="/api/v2/stats/add-debtors" class="btn btn-info "> View All Debtors</a>
                            </p>
                            </div>
                        </div>
                    </div>
                
                  </div>


                    <div class="container">
                        <div class="row">
                    
                            <% if(typeof sortedDebtors !=="undefined" ){ %>
                    
                                <% sortedDebtors.slice(0, 8).forEach(sorted=>{ %>
                                    <% if(sorted.properties.grandDebt != 0){ %>

                                        <div class=" col-sm-6 col-md-3">
                                        
                                            <div class="card shadow card-headr-color my-2">
                                                <div class="card-header">
                                                    <p class="mx-4 fs-5"> <span class="me-3">Amount:</span>&#x20A6;<%=numFomatter(sorted.properties.grandDebt) %>
                                                    </p>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title text-capitalize">
                                                        <%= sorted.name %>
                                                    </h5>
                                                    <p class="card-text">
                                                        Property: <%= sorted.properties.name %>
                                        
                                        
                                                    </p>
                                                    <a href="/api/v2/customers/single/<%= sorted._id%>/<%= sorted.properties.propeId%>"
                                                        class="btn btn-outline-secondary-button w-100 text-uppercase">View More</a>
                                                </div>
                                        
                                            </div>
                                        </div>

                                   <% } %>
                                
                                    <% }) %>
                    
                                        <% } %>
                    
                    
                    
                        </div>
                    </div>



                    <div class="container">
                        <div class="row breadcrumb-height align-items-center">
                            <div class="col bg-revplus text-center text-capitalize fs-4">
                                <p>Debt Summary </p>
                            </div>
                        </div>
                    
                    </div>

                <div class="container">
                    <div class="row">
                
                       
                                <div class=" col-sm-6 col-md-3">
                
                                    <div class="card shadow card-headr-color my-2 text-center">
                                       
                                        <div class="card-body">
                                            <h5 class="card-title text-capitalize">
                                                Sum of All Debts
                                            </h5>

                                            <p class="card-text">
                                                <h4>&#x20A6; <%=numFomatter(allUgwo) %>
                                                </h4>
                                            </p>
                                          
                                        </div>
                
                                    </div>
                                </div>

                                <div class=" col-sm-6 col-md-3">
                
                                    <div class="card shadow card-headr-color my-2 text-center">
                                       
                                        <div class="card-body">
                                            <h5 class="card-title text-capitalize">
                                                 Number of Debtors
                                            </h5>

                                            <p class="card-text">
                                            <h4><%= noOfDebtors %></h4>
                                            </p>
                                          
                                        </div>
                
                                    </div>
                                </div>

                
                    </div>
                </div>

                </main>



        </div>


        </body>

        </html>